main {
  margin: 0px;
  padding: 10px;
}

.navli {
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bridgesec {
  display: block;
  padding: 0px;
  text-align: center;
}

.bridgeimg {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.umbrellasec {
  display: flex;
  flex-flow: column-reverse;
  padding: 0px;
  text-align: center;
}

.umbrellaimg {
  padding: 0px;
  height: 100%;
  width: 100%;
}

footer {
  height: 300px;
  background-color: darkgrey;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.footerlist1 {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.footerlist2 {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.btt {
  padding: 10px 0px 0px 0px;
}
